<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>BT Blogs</title>
    <%= stylesheet_link_tag 'btblogs' %>
    <%= stylesheet_link_tag 'semantic_forms' %>
    <!--[if IE]><%= stylesheet_link_tag 'ie' %><![endif]-->
  </head>
  <body>
    <div id="header">
      <a href="/"><img id="logo" src="/images/btblogs.png" alt="BT Blogs" /></a>
      <div id="menu">
        <ul>
          <li><a href="#">About</a></li>
          <li><%= link_to 'Add blog', new_blog_path %></li>
        </ul>
      </div>
      <div id="feeds">
        <ul>
          <li><a href="#">RSS</a></li>
          <li><a href="#">Atom</a></li>
        </ul>
      </div>
    </div>
    <div id="blogs">
    </div>
    <div id="posts">
      <%= yield %>
    </div>
  </body>
</html>
